.weather-app {
  background-color: green;
  max-width: 807px;
  padding: 40px;
  margin: 60px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #f9f7fe;
  filter: blur(3px);
}

.search-form-input {
  background-color: #f9f7fe;
  border-radius: 3px;
  padding: 15px 30px;
  width: 80%;
  border: none;
  font-size: 16px;
}

.search-form-button {
  border-radius: 3px;
  border: none;
  width: 15%;
  background-color: orange;
  padding: 15px 30px;
  font-size: 16px;
  margin-left: 5px;
}

footer {
  text-align: center;
  font-size: 13px;
}

a {
  color: orange;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-timing {
  position: relative;
  top: 208px;
  font-size: 29px;
  left: -105px;
}

.weather-figure {
  position: relative;
  top: 169px;
  right: 281px;
  font-size: 101px;
}

.weather-info {
  position: relative;
  top: 289px;
  right: 209px;
  font-size: 20px;
}

.weather-type {
  position: relative;
  left: 270px;
  top: 111px;
  font-size: 30px;
}

.weather-icon {
  font-size: 126px;
  position: relative;
  left: 127px;
  top: -13px;
}

.temperature-timing {
  font-size: 22px;
  position: relative;
  left: -30px;
  bottom: -14px;
}

.humidity {
  font-size: 26px;
  position: relative;
  bottom: 71px;
  left: -85px;
}

.wind {
  font-size: 26px;
  position: relative;
  right: 73px;
  bottom: 71px;
}

.country {
  position: relative;
  bottom: 76px;
  font-size: 33px;
  left: -85px;
}

.temperature-date {
  font-size: 22px;
  position: relative;
  right: -98px;
  top: -17px;
}

.weatherCelsius {
  position: relative;
  top: 206px;
  right: 308px;
  font-size: 26px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  font-size: 60px;
}
